@page "/todo-blazor"

<div class="TodoList">
    <div>
        <input type="text" @bind="filterText" @bind:event="oninput" />
    </div>

    <ul>
        @foreach (var item in _items.Where(x => x.Text.Contains(filterText, StringComparison.OrdinalIgnoreCase))) {
            <li>
                <input type="checkbox" @bind="item.Done"/>
                <input type="text" @bind="item.Text" style=@(item.Done ? "text-decoration: line-through": "") />
                <button class="Delete" @onclick="@(() => _items.Remove(item))">x</button>
            </li>
        }
    </ul>

    <form @onsubmit="AddItem">
        <input type="text" @bind-value="inputText" />
        <button type="submit">
            <span class"oi oi-plus" aria-hidden="true">
                add
            </span>
        </button>
    </form>

    <div class="ButtonBox">
        <button @onclick="RemoveDoneItems">remove all done</button>
    </div>
</div>

@code{
    List<TodoItem> _items = new List<TodoItem> {
        new TodoItem { Text = "Task 1", Done = true },
        new TodoItem { Text = "Task 2", Done = false },
        new TodoItem { Text = "Task 3", Done = false }
    };

    string inputText = "";
    string filterText = "";

    void AddItem() {
        _items.Add(new TodoItem {
            Text = inputText,
            Done = false
        });

        inputText = "";
    }

    void RemoveDoneItems(){
        _items.RemoveAll(x => x.Done);
    }
}